{# app/Resources/views/emails/file_upload_confirm.html.twig #}
<h3>Ты сделал это!</h3>

Привет! Файл загружен и доступен по следующем адресу<br/>
<a href="{{ file_path }}">{{ filename }}</a><br/>
Текст ссылки: {{ file_path }}
