{% extends 'base.html.twig' %}

{% block title %}Редактирование свойств файла{% endblock %}

{% block body %}
    <h1>Редактирование свойств файла</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input   class="btn btn-success" type="submit" value="Сохранить" />
    {{ form_end(edit_form) }}

    <br/>
    <a   class="btn btn-primary" href="{{ path('files_index') }}">Назад к списку</a>


{% endblock %}
