{% extends 'base.html.twig' %}

{# @controller FileUploadBundle:Files:index #}

{% block title %}Список файлов{% endblock %}

{% block body %}
    <h1>Список файлов</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Файл</th>
                <th>Email</th>
                <th>Описание</th>
                <th>Временная метка</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td><a href="{{ path('get_file', {'hash_user': file.hashUser, 'hash_file': file.hashFile}) }}">{{ file.filename }}</a></td>
                <td>{{ file.email }}</td>
                <td>{{ file.note }}</td>
                <td>{% if file.tstamp %}{{ file.tstamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a  class="btn btn-info" href="{{ path('files_edit', { 'id': file.id }) }}">Изменить</a>

                    {{ form_start(deleteForms[file.id], { 'attr': {'style': 'display: inline'} } ) }}
                    <input class="btn btn-danger" type="submit" value="Удалить">
                    {{ form_end(deleteForms[file.id]) }}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            <li {{ thisPage == 1 ? 'class="disabled"' }}>
                <a href="{{ path('files_index_page', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..maxPages %}
                <li {{ thisPage == i ? 'class="active"' }}>
                    <a href="{{ path('files_index_page', {page: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {# `»` arrow #}
            <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                <a href="{{ path('files_index_page', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        </ul>
    {% endif %}

{% endblock %}


