{% extends 'base.html.twig' %}

{% block body %}
    <h1>File</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file.id }}</td>
            </tr>
            <tr>
                <th>Hashfile</th>
                <td>{{ file.hashFile }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ file.filename }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ file.note }}</td>
            </tr>
            <tr>
                <th>Tstamp</th>
                <td>{% if file.tstamp %}{{ file.tstamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('files_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('files_edit', { 'id': file.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
